<html>

<head>
    <style>
        * {
            font-size: 50px;
        }

        #submit {
            border-radius: 50%;
            background-color: rgb(2, 39, 27);
            border: 2px solid rgb(108, 185, 161);
            color: rgb(108, 185, 161);
            padding: 20px;
        }

        .container {
            margin: 100px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 100px;
        }

        .sub-con {
            background-color: rgb(108, 185, 161);
            border: 2px solid rgb(2, 39, 27);
            border-radius: 10px;
            width: 50%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

        .query {
            border-radius: 50px;
            padding: 20px;
        }

        table,
        th,
        tr,
        td {

            border: 2px solid black;
        }

        #arrows {
            display: flex;
            flex-direction: column;
            gap: 5px;
        }

        form {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            gap: 20px;
        }
        .all_filters{
            display:flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }
    </style>
</head>

<body>
    
    <div class="container">
        <div class="sub-con">
            <h1>Enter Your Query</h1>
            <form method="post" action="/grid">
                <input type="text" id="query" name="query" placeholder="Query" />
                <input type="submit" id="submit" value="Go" />
            </form>
        </div>
      <%#
      let keys = Object.keys(obj[0]);
      keys.forEach((item)=>{
      console.log(item);
      });
      %>
            <% if (showData==true) { %>
                <%-include("filters",{result:result,query:query,element:element,order:order});%>
                <%-include(tables,{result:result,element:element,order:order});%>
                
                    <% } %>
        
        <div>
            <% if (isPagi==true) { %>
                <%-include(pagination);%>
                    <% } %>
        </div>
    </div>
    <% if (isPagi && !filter) { %>
        <script>
            let first = document.getElementById("first");
            let last = document.getElementById("last");
            let inc = document.getElementById("increment");
            let dec = document.getElementById("decrement");
            let pageNo = document.getElementById("pageNo");
            pageNo.innerHTML = "<%=id%>";
            first.addEventListener('click', moveFirst);
            last.addEventListener('click', moveLast);
            inc.addEventListener('click', increment);
            dec.addEventListener('click', decrement);

            function moveFirst() {
                pageNo.innerHTML = 1;
                window.location = "/data?id=1&limit=<%=limit%>&isPagi=<%=true%>&showData=<%=true%>&pagination=<%=pagination%>&tables=<%=tables%>&result=<%=result%>&pages=<%=pages%>&query=<%=query%>&order=<%=order%>&element=<%=element%>&filter=false&obj=<%=obj%>";
            }
            function moveLast() {

                
                

                pageNo.innerHTML = "<%=pages%>";
                window.location = "/data?id=<%=pages%>&limit=<%=limit%>&isPagi=<%=true%>&showData=<%=true%>&pagination=<%=pagination%>&tables=<%=tables%>&result=<%=result%>&pages=<%=pages%>&query=<%=query%>&order=<%=order%>&element=<%=element%>&filter=false&obj=<%=obj%>";
            }
            function increment() {
                let pages = "<%=pages%>";
                if (parseInt(pageNo.innerHTML) < parseInt(pages)) {
                    pageNo.innerHTML = parseInt(pageNo.innerHTML) + 1;
                    inc.href = `/data?id=${pageNo.innerHTML}&limit=<%=limit%>&isPagi=<%=true%>&showData=<%=true%>&pagination=<%=pagination%>&tables=<%=tables%>&result=<%=result%>&pages=<%=pages%>&query=<%=query%>&order=<%=order%>&element=<%=element%>&filter=false&obj=<%=obj%>`;
                }
            }
            function decrement() {
                if (parseInt(pageNo.innerHTML) > 1) {
                    console.log("true");
                    pageNo.innerHTML = parseInt(pageNo.innerHTML) - 1;
                    dec.href = `/data?id=${pageNo.innerHTML}&limit=<%=limit%>&isPagi=<%=true%>&showData=<%=true%>&pagination=<%=pagination%>&tables=<%=tables%>&result=<%=result%>&pages=<%=pages%>&query=<%=query%>&order=<%=order%>&element=<%=element%>&filter=false&obj=<%=obj%>`;
                }
            }

        </script>
        <%} %>


        <% if (isPagi && filter) { %>
            <script>
                console.log("<%=obj[0]%>")
                console.log("<%=result[0]%>")
                let First = document.getElementById("first");
                let Last = document.getElementById("last");
                let Inc = document.getElementById("increment");
                let Dec = document.getElementById("decrement");
                let PageNo = document.getElementById("pageNo");
                PageNo.innerHTML = "<%=id%>";
                First.addEventListener('click', moveFirst);
                Last.addEventListener('click', moveLast);
                Inc.addEventListener('click', increment);
                Dec.addEventListener('click', decrement);
    
                function moveFirst() {

                   
                    PageNo.innerHTML = 1;
                    window.location = "/filter_data?id=1&limit=<%=limit%>&isPagi=<%=true%>&showData=<%=true%>&pagination=<%=pagination%>&tables=<%=tables%>&result=<%=result%>&pages=<%=pages%>&query=<%=query%>&order=<%=order%>&element=<%=element%>&filter=true&obj=<%=obj%>";
                }
                function moveLast() {

                    let queries = `select * from Student where student_name = 'Kajal Ranapratap Soni'`;
                    console.log(queries)

                    PageNo.innerHTML = "<%=pages%>";
                    window.location = "/filter_data?id=<%=pages%>&limit=<%=limit%>&isPagi=<%=true%>&showData=<%=true%>&pagination=<%=pagination%>&tables=<%=tables%>&result=<%=result%>&pages=<%=pages%>&query=<%=query%>&order=<%=order%>&element=<%=element%>&filter=true&obj=<%=obj%>";
                }
    
                function increment() {


                    let pages = "<%=pages%>";
                    if (parseInt(PageNo.innerHTML) < parseInt(pages)) {
                        PageNo.innerHTML = parseInt(PageNo.innerHTML) + 1;
                        Inc.href = `/filter_data?id=${PageNo.innerHTML}&limit=<%=limit%>&isPagi=<%=true%>&showData=<%=true%>&pagination=<%=pagination%>&tables=<%=tables%>&result=<%=result%>&pages=<%=pages%>&query=<%=query%>&order=<%=order%>&element=<%=element%>&filter=true&obj=<%=obj%>`;
                    }
                }
                function decrement() {
                    if (parseInt(PageNo.innerHTML) > 1) {
                        console.log("true");
                        PageNo.innerHTML = parseInt(PageNo.innerHTML) - 1;
                        Dec.href = `/filter_data?id=${PageNo.innerHTML}&limit=<%=limit%>&isPagi=<%=true%>&showData=<%=true%>&pagination=<%=pagination%>&tables=<%=tables%>&result=<%=result%>&pages=<%=pages%>&query=<%=query%>&order=<%=order%>&element=<%=element%>&filter=true&obj=<%=obj%>`;
                    }
                }
    
    
            </script>
            <%} %>


            <%if(showData && !filter){%>
                <script>
                    const up = document.getElementById("up");
                    const down = document.getElementById("down");
                    function orderData(element) {
                       if("<%=order%>"=="asc"){
                        const id = element.id;
                        //document.getElementById(`${id}`).style.background="red";
                        console.log(`incrementing by ${id}`);
                        window.location = `/data?id=1&limit=<%=limit%>&isPagi=true&showData=true&pagination=<%=pagination%>&tables=<%=tables%>&result=<%=result%>&pages=<%=pages%>&query=<%=query%>&order=desc&element=${id}&filter=false&obj=<%=obj%>`;
                       }
                       else{
                        const id = element.id;
                        //document.getElementById(`${id}`).style.background="red";
                        console.log(`incrementing by ${id}`);
                        window.location = `/data?id=1&limit=<%=limit%>&isPagi=true&showData=true&pagination=<%=pagination%>&tables=<%=tables%>&result=<%=result%>&pages=<%=pages%>&query=<%=query%>&order=asc&element=${id}&filter=false&obj=<%=obj%>`;
                       }
                        //document.getElementById("up").color="yellow";
                    }
                    console.log(document.getElementById("<%=element%>"));
                    document.getElementById("<%=element%>").style.backgroundColor = "red";
                    if ("<%=order%>" == "asc") {
                        console.log("<%=order%>");
                        let arrows = document.getElementById("<%=element%>").children[1];
                        arrows.children[0].style.color = "yellow";
                        arrows.children[0].style.fontsize = "50px";
                    }
                    else {
                        let arrows = document.getElementById("<%=element%>").children[1];
                        arrows.children[1].style.color = "yellow";
                        arrows.children[1].style.fontsize = "50px";
                    }
                    function addFilter() {
                        console.log("add filter called");
                        if (document.getElementsByClassName("filters")[0].style.visibility == "collapse") {
                            document.getElementsByClassName("filters")[0].style.visibility = "visible";
                        }
                        else {
                            document.getElementsByClassName("filters")[0].style.visibility = "collapse";
                        }
                    }
                </script>
                <%}%>


                <%if(showData && filter){%>
                    <script>
                        const Up = document.getElementById("up");
                        const Down = document.getElementById("down");
                        function orderData(element) {
                           if("<%=order%>"=="asc"){
                            const id = element.id;
                            //document.getElementById(`${id}`).style.background="red";
                            console.log(`incrementing by ${id}`);
                            window.location = `/filter_data?id=1&limit=<%=limit%>&isPagi=true&showData=true&pagination=<%=pagination%>&tables=<%=tables%>&result=<%=result%>&pages=<%=pages%>&query=<%=query%>&order=desc&element=${id}&filter=true&obj=<%=obj%>`;
                           }
                           else{
                            const id = element.id;
                            //document.getElementById(`${id}`).style.background="red";
                            console.log(`incrementing by ${id}`);
                            window.location = `/filter_data?id=1&limit=<%=limit%>&isPagi=true&showData=true&pagination=<%=pagination%>&tables=<%=tables%>&result=<%=result%>&pages=<%=pages%>&query=<%=query%>&order=asc&element=${id}&filter=true&obj=<%=obj%>`;
                           }
                            //document.getElementById("up").color="yellow";
                        }
                        console.log(document.getElementById("<%=element%>"));
                        document.getElementById("<%=element%>").style.backgroundColor = "red";
                        if ("<%=order%>" == "asc") {
                            console.log("<%=order%>");
                            let arrows = document.getElementById("<%=element%>").children[1];
                            arrows.children[0].style.color = "yellow";
                            arrows.children[0].style.fontsize = "50px";
                        }
                        else {
                            let arrows = document.getElementById("<%=element%>").children[1];
                            arrows.children[1].style.color = "yellow";
                            arrows.children[1].style.fontsize = "50px";
                        }
                        function addFilter() {
                            console.log("add filter called");
                            if (document.getElementsByClassName("filters")[0].style.visibility == "collapse") {
                                document.getElementsByClassName("filters")[0].style.visibility = "visible";
                            }
                            else {
                                document.getElementsByClassName("filters")[0].style.visibility = "collapse";
                            }
                        }
                    </script>
                    <%}%>


</body>

</html>